// 亮色主题
:root {
  // 笔记标题颜色
  --title-color-text: #1677ff;
  --title-color-shadow: rgba(22, 119, 255, 0.15);
  --title-color-hover: #e8f2ff;
  --title-color-active: #dceeff;
  --title-color-bg: #fdfdfd;
  --title-color-border-left: #1677ff;

  // 笔记列表和代码块背景
  --bg-color: #f5f7f6;

  // 全局文字和背景
  --text-color: #303133;
  --text-color-secondary: #909399;
  --page-bg: #ffffff;

  // 滚动条
  --scrollbar-color: #a8a8a8 #fff;

  // 分割线
  --divider-color: #E7E7E7;

  // 复制按钮
  --copy-button-color: #fefafa;
  --copy-button-border-color: #eee;
}

// 暗色主题
[data-theme="dark"] {
  // 笔记标题颜色
  --title-color-text: #2998ff;
  --title-color-shadow: rgba(0, 79, 191, 0.15);
  --title-color-hover: #1e2122;
  --title-color-active: #222526;
  --title-color-bg: #1F2122;
  --title-color-border-left: #0048ac;

  // 笔记列表和代码块背景
  --bg-color: #252526;

  // 全局文字和背景
  --text-color: #c9c4bd;
  --text-color-secondary: #a0a0a0;
  --page-bg: #1E1E1E;

  // 滚动条
  --scrollbar-color: #a8a8a8 #1E1E1E;

  // 分割线
  --divider-color: #363636;

  // 复制按钮
  --copy-button-color: #3a3a3a;
  --copy-button-border-color: #3a3a3a;
}

// 全局默认样式（让所有未设置颜色的元素继承）
body {
  background-color: var(--page-bg);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
